
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}

.logoSingIn {
  font-style: normal;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  line-height: 49px;
  color: #344472;
  margin-bottom: 32px;
}

.imgContainer {
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background-color: #F5FBFF;
}

.imgSignIn {
  flex-direction: row;
  align-items: center;
  margin-bottom: 24px;

}

.loginContainer {
  display: flex;
  align-items: center;
  width: 50%;
}

.loginForm {
  max-width: 366px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.loginForm input {
  width: 100%;
  height: 40px;
  min-width: 327px;
  padding: 8px 12px;
}

.checkBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 12px 0;
}

.checkBox input {
  width: 12px;
  height: 12px;
  margin-right: 10px;
  display: flex;
  justify-content: center;

}

.modalErrorContainer {
  position: absolute;
  z-index: 15;
  background: #FF5761;
  border-radius: 4px;
  top: 0;
  right: 0;
  margin: 36px;
  transition: 0.5s;
}

.login {
  margin-bottom: 24px;
}

.passwordContainer {
  margin-bottom: 32px;
}

.errorPassword {
  color: #FF768E;
  font-size: 12px;
  line-height: 24px;
}

.isMember {
  display: flex;
  justify-content: center;
  margin-right: 5px;
  font-size: 15px;
  line-height: 24px;
  color: #707070;
}

.toSignUp {
  text-decoration: underline;
  color: #E4163A;
  font-size: 15px;
  line-height: 24px;
}

@media (max-width: 696px) {
  .imgContainer {
    display: none;
  }
  .loginContainer {
    width: 100%;
  }
  .logoSingIn {
    align-items: center;
  }
}

