.cartTeamsBox {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
}

.supraMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  margin-top: 32px;
  padding: 0 80px;

  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  span {
    padding-right: 11px;
  }
}


.teamsCard {
  display: flex;
  max-width: 364px;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
  border-radius: 4px;
}

.teamsCardTop {
  background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
  width: 100%;
  padding: 64px;

  display: flex;
  align-items: center;
  justify-content: center;
}


.teamsCardBottom {
  font-weight: 500;
  height: 100px;
  background-color: #303030;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 24px;
}

.foundationYear {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  line-height: 24px;
  color: #9C9C9C;
  justify-content: center;
}

.mainFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px
}

.logoTeams {
  height: 150px;
  width: 150px;
  display: flex;
  object-fit: cover;
  flex-shrink: 0;
}
.selectedPage{
  font-weight: bold;
}

@media (max-width: 550px) {
  .logoTeams {
    height: 58px;
    width: 50px;
  }
  .teamsCard{
    max-width: 169px
  }
  .teamsCardTop {
    padding: 31px 56px;
  }
  .cartTeamsBox {
    display: flex;
    margin-bottom: 18px;
    gap: 10px;
    justify-content: center;
  }
  .supraMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16px auto;
    max-width: 364px;
    padding: 0 5px;
    button {
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
  .teamsCardBottom {
    padding: 22px 0;
    font-size: 15px;
  }
  .foundationYear {
    font-size: 13px;
    line-height: 24px;
    color: #9C9C9C;

  }
  .addButton {
    width: 100%;
  }
  .mainFooter {
    padding: 16px 10px;
  }

}
