.main {
  background-color: #F6F6F6;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  justify-self: center;



}

.mainContainer{
  max-width: 1140px;
}

.supraMain {
  display: flex;
  justify-content: space-between;



  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 104px;
    height: 40px;

  }

}

.addButton {
  padding-right: 150px;
}

.mainFooter {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
  align-items: center;
}
