.tableContainer {
  display: grid;
  border: 0.5px solid #9C9C9C;
  border-radius: 10px;
}

.tableHead {
  color: #707070;
  grid-template-columns: 12fr;
  border-bottom: 0.5px solid #9C9C9C;

}

.tableBody {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  color: #707070;

}

.tableBody {
  span {
    padding: 10px;
    border-bottom: 0.5px solid #9C9C9C;;
  }

  span:last-child {
    border-bottom: none;
    padding: 10px;
  }
}

.row {
  display: grid;
  height: 56px;
  grid-template-columns: 80px 52px auto 100px 100px;
  gap: 10px;
}
.row_item{
  display: flex;
  align-items: center;
  justify-content: center;
}
.row_item_left{
  display: flex;
  align-items: center;
}
