
.button{
    padding: 8px 24px;
    background: #E4163A;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: ease-in-out 100ms;
    color:white;
}
.button span{
   color: #FFFFFF
}
.button:hover {
    background: #FF5761;
}

.button:focus {
    background: #C60E2E;
}

.button:disabled {
    background: #F6F6F6;
}

.button:disabled span{
    color: #D1D1D1;
}



