.mainPlayer {
  background-color: #F6F6F6;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  padding-top: 32px;
  justify-self: center;
  padding-left: 80px;


}

.supraMain {
  display: flex;
  justify-content: space-between;
  padding-right: 80px;


  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 104px;
    height: 40px;
  }

  svg {
    padding-right: 11px;
  }

}

.addButton {
  padding-right: 150px;
}

.mainFooterPlayer {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}
.dropFileInput {
  position: relative;
  width: 400px;
  height: 200px;
  border: 2px dashed var(--border-color);
  border-radius: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--input-bg);
}

.dropFileInput input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}