.cardContainer {
  display: flex;
}

.cartPlayersBox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 24px;
  @media (max-width: 803px) {
    flex-direction: row;
  }

}

.supraMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 32px;
  margin-top: 32px;



  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      padding-right: 11px;
    }
  }
}


.playerCard {
  display: flex;
  width: 364px;
  height: 380px;
  flex-direction: column;
  @media (max-width: 803px) {
    width: 196px;
    height: 201px;
  }

}

.playerCardTop {
  background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
  width: 364px;
  height: 280px;
  align-self: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.playerCardBottom {
  font-weight: 500;
  height: 100px;
  background-color: #303030;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 24px;
}
.mainFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playerName {
  font-family: 'Avenir Next Cyr Light', serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color:#FFFFFF;
}
.playerNumber {
  color: #FF5761;
  font-weight: bold;
}
.teamName {
  font-family: 'Avenir Next Cyr Light', serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #9C9C9C;
}
