//.supraMain {
//  display: flex;
//  flex-direction: row;
//  justify-content: space-between;
//}

.playersWrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.supraMain {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
      padding-right: 11px;
    }
  }
}

.imgCardPlayers {
  padding: 12px;
  width: 364px;
}
.cardContainer {
  display: flex;
}

.cartTeamsBox {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  @media (max-width: 803px) {
    flex-direction: row;
  }

}

.teamsCard {
  display: flex;
  width: 364px;
  height: 380px;
  flex-direction: column;
  @media (max-width: 803px) {
    width: 196px;
    height: 201px;
  }

}

.teamsCardTop {
  background: linear-gradient(121.57deg, #707070 1.62%, #393939 81.02%);
  width: 364px;
  height: 280px;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.teamsCardBottom {
  font-family: 'Avenir', sans-serif;
  font-weight: 500;
  height: 100px;
  background-color: #303030;
  font-style: normal;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
  text-align: center;
  padding-top: 24px;

  span {
    font-size: 14px;
    line-height: 24px;
    color: #9C9C9C;
  }
}

.mainFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}