.userNameSide{
  display: flex;
  align-items: center;
}
.userIcon{
  width: 40px;
  height: 40px;
  margin-right: 12px;
}
.userProfileContainer{
  width: 50%;
  display: flex;
  margin-bottom: 27px;
}
