
.sideBarSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  //align-items: center;
  background-color: #FFFFFF;


}

//.signOutBlock{
//  display: flex;
//  flex-direction: column;
//  justify-content: flex-end;
//  min-height: 765px;
//}


.sideBarItem {
  text-align: center;
  padding: 0 50px;

}

.sideBarTeams {
  margin-bottom: 40px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sideBarPlayers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapperContent {
  width: 100%;
}


.sideBarItem a {
  display: flex;
  text-decoration: none;
  color: #9C9C9C;
  padding: 10px;
  flex-direction: column;
  align-items: center;

}

.signOutBlock {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-align: center;
  align-items: center;
  margin-bottom: 32px;
}
.header {
  display: flex;
  justify-content: flex-start;
  background-color: #FFFFFF;
  padding: 24px 32px;

  p {
    color: #E4163A;
    font-family: 'Avenir', sans-serif;
    font-size: 14px;
    font-weight: bold;
  }

  span {
    color: #9C9C9C;
  }

  .activeLink:hover {
    svg path {
      fill: #E4163A;
      transition: 0.6s;
    }

    color: #E4163A;
    transition: 0.6s;

  }

  .activeLink:hover {
    svg path {
      fill: #E4163A;
      transition: 0.6s;
    }

    color: #E4163A;
    transition: 0.6s;
  }
}
.btnSignOut {
  color: #FF768E;
}

