
.openBurger {
  display: flex;

}

@media (max-width: 550px) {
  .menu{
    justify-content: space-between;
    display: flex;
    height: 78%;
    flex-direction: column;
  }
  .signOutBlockBurger{
    display: flex;
    gap:9px;
    align-items: center;
    cursor: pointer;
  }
  .burgerContainer{
    position: fixed;
    top: 76px;
    z-index: 15;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  .userSideContainer{
    display: flex;
    padding: 20px;
    flex-direction: column;
    width: 50%;
    background-color: #FFFFFF;
    height: 100%;
  }
}
