.onePlayerContainer {
  padding: 32px 0;
  width: 1140px;

}

.headerPlayer {
  display: flex;
  background-color: #FFFFFF;
  padding: 24px 32px;
  border-radius: 10px 10px 0 0;
  justify-content: space-between;

  .headerPlayerMenu {
    color: #E4163A;
    font-family: 'Avenir Next Cyr Light', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  span {
    color: #9C9C9C;
  }

}
.deleteBtn{
  cursor: pointer;
}
.editBtn{
  cursor: pointer;
}
.wrapInfoPlayer{
  transform: rotate(-180deg);
  background: linear-gradient(276.45deg, #707070 0%, #393939 100.28%);
  border-radius: 10px 10px 0 0;
}

.playerInfo{
  display: flex;
  flex-direction: row;
  transform: rotate(180deg);
  margin-bottom: 24px;
}

.headerPlayer {
  display: flex;
  justify-content: space-between;
}

.logoPlayers{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    width: 531px
  }
}
.editTools{
  display: flex;
  flex-direction: row;
  gap:20px;
}
.namePlayer {
  margin-bottom: 40px;
  font-family: 'Avenir Next Cyr Light', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  span {
    color: #FF5761;
    font-weight: bold;
  }

}
.currentPlayerInfo{
  display: flex;
  justify-content: space-between;
}

.descriptionPlayer{
  color: #FFFFFF;
  padding-top:65px;
  font-family: 'Avenir Next Cyr Light', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 36px;
  line-height: 49px;
  width: 40%;
}
.position{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 54px;
}
.rightBlockInfo{
  display: flex;
  flex-direction: column;

}

.label{
  font-family: 'Avenir Next Cyr Light', serif;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 54px

}

.bodyInfo{
  font-family: 'Avenir Next Cyr Light', serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}
.division{
  font-size: 18px;
  line-height: 25px;
}
.conference{
  font-size: 18px;
  line-height: 25px;
}
