.formControl input {
    background-color: #F6F6F6;

}
.labelText {
  font-family: 'Avenir', sans-serif;
      color: #707070;
}
.inputText{
  font-family: 'Avenir', sans-serif;
  color:#303030
}


 .formControl input:hover{
     background-color: #D1D1D1;
 }
 .formControl input:focus{
     background-color: #F6F6F6;
     outline: none;

 }
.formControl.error input{
    /*border: solid #FF768E 2px;*/
    border-radius: 4px;
}
 .formControl.error span{
     color: #FF768E;
 }
.inputContainer {
  position: relative;
}

.onIconEyes{
    svg{
      position: absolute;
      top: 12px;
      right: 15px;
    }

  }
